// Location SCSS
.location {
  box-sizing: border-box;

  .location-image {
    width: 100%;
    background-color: gray;
    background-position: center;
    background-size: cover;
    @include aspect-ratio(16, 9);
  }

  h2 {
    padding: 2rem;
    width: 100%;
    text-align: center;
    background-color: $primary-color;
  }

  .tel {
    padding: 1.2rem 2rem;
    font-size: 1.8rem;
    font-weight: $bold;
    text-align: center;
    background-color: $black;
  }
}
